<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/default.css" />
    <script type="text/javascript" src="/javascripts/board.js"></script>
    <script id="win.js">
      let b = new Board();
      class Window {
        constructor() {
          this.numberOfMen = 9;
          this.piecesLeft = this.numberOfMen * 2;
          this.playerColors = ['blue', 'red'];
        }
        calcPlayer(offset = undefined) {
          // index of player (0 or 1)
          let i = this.piecesLeft + (offset || 0);
          return i % 2;
        }
        eventPress(pieceElement) {
          const pieceStyle = pieceElement.style;
          if (pieceStyle.backgroundColor === "" && this.piecesLeft > 0) {
            let i = this.calcPlayer();
            let currentColor = document.getElementById("current-player-color");
            currentColor.style.color = this.playerColors[this.calcPlayer(1)];
            currentColor.innerText = this.playerColors[this.calcPlayer(1)];
            this.piecesLeft--;
            return pieceStyle.backgroundColor = this.playerColors[i];
          } else {
            return new Error(`Position ${pieceElement.id} is occupied.`);
          }
        }
      };

      let win = new Window();
    </script>
    <script id="test.js">
      // Crit. 2.

      function testUninteractiveElement() {
        return document.getElementById('container').onclick === null;
      }

      function testInteractiveElement() {
        return typeof document.getElementById('A1').onclick === 'function';
      }
      
      // Crit. 5.

      function testOpenBoardWithUnoccupiedPosition() {
        return win.eventPress(document.getElementById('A1')) === "blue";
      }

      function testOpenBoardWithOccupiedPosition() {
        win.eventPress(document.getElementById('A1'));
        return `${win.eventPress(document.getElementById('A1'))}` === "Error: Position A1 is occupied.";
      }
      
      function testFullBoardWithUnoccupiedPosition() {
        win.eventPress(document.getElementById('A1'));
        win.eventPress(document.getElementById('A4'));
        win.eventPress(document.getElementById('A7'));
        win.eventPress(document.getElementById('B2'));
        win.eventPress(document.getElementById('B4'));
        win.eventPress(document.getElementById('B6'));
        win.eventPress(document.getElementById('C3'));
        win.eventPress(document.getElementById('C4'));
        win.eventPress(document.getElementById('C5'));
        win.eventPress(document.getElementById('D1'));
        win.eventPress(document.getElementById('D2'));
        win.eventPress(document.getElementById('D3'));
        win.eventPress(document.getElementById('D5'));
        win.eventPress(document.getElementById('D6'));
        win.eventPress(document.getElementById('D7'));
        win.eventPress(document.getElementById('E3'));
        win.eventPress(document.getElementById('E4'));
        win.eventPress(document.getElementById('E5'));
        win.eventPress(document.getElementById('F2'));
        return `${win.eventPress(document.getElementById('F4'))}` === "Error: Position F4 is occupied.";
      }

      function testFullBoardWithOccupiedPosition() {
        win.eventPress(document.getElementById('A1'));
        win.eventPress(document.getElementById('A4'));
        win.eventPress(document.getElementById('A7'));
        win.eventPress(document.getElementById('B2'));
        win.eventPress(document.getElementById('B4'));
        win.eventPress(document.getElementById('B6'));
        win.eventPress(document.getElementById('C3'));
        win.eventPress(document.getElementById('C4'));
        win.eventPress(document.getElementById('C5'));
        win.eventPress(document.getElementById('D1'));
        win.eventPress(document.getElementById('D2'));
        win.eventPress(document.getElementById('D3'));
        win.eventPress(document.getElementById('D5'));
        win.eventPress(document.getElementById('D6'));
        win.eventPress(document.getElementById('D7'));
        win.eventPress(document.getElementById('E3'));
        win.eventPress(document.getElementById('E4'));
        win.eventPress(document.getElementById('E5'));
        win.eventPress(document.getElementById('F2'));
        
        return `${win.eventPress(document.getElementById('A1'))}` === "Error: Position A1 is occupied.";
      }
    </script>
    <!--link rel='stylesheet' href="/stylesheets/<%= theme %>.css" /-->
  </head>
  <body>
    <div class="main-grid" id="container">
      <div class="grid-board-view">
        <img class="board-view-background" src="images/board.png">
        <div class="board-view-piece-grid">
          <div class="board-view-piece A one" id="A1" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece A four" id="A4" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece A seven" id="A7" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece B two" id="B2" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece B four" id="B4" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece B six" id="B6" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece C three" id="C3" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece C four" id="C4" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece C five" id="C5" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece D one" id="D1" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece D two" id="D2" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece D three" id="D3" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece D five" id="D5" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece D six" id="D6" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece D seven" id="D7" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece E three" id="E3" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece E four" id="E4" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece E five" id="E5" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece F two" id="F2" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece F four" id="F4" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece F six" id="F6" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece G one" id="G1" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece G four" id="G4" onclick="win.eventPress(this)"></div>
          <div class="board-view-piece G seven" id="G7" onclick="win.eventPress(this)"></div>
        </div>
      </div>
      <div class="grid-board-text">
        <p>
          Player One is <b style="color: blue">blue</b>...<br>
          Player Two is <b style="color: red">red</b>...<br>
          <br>
          <br>
          <br>
          The current player is <b style="color: blue" id="current-player-color">blue</b>.<br>
        </p>
      </div>
    </div>
  </body>
</html>
