<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/default.css" />
    <!--link rel='stylesheet' href="/stylesheets/<%= theme %>.css" /-->
  </head>
  <body>
    <div class="main-grid">
      <div class="grid-board-view">
        <img src="images/board.png">
      </div>
      <div class="grid-board-text">
        <p>Players...</p>
      </div>
    </div>
  </body>
</html>
